.mat-column-name {
  text-align: center;
  padding-left: 10px;
  font-size: 15px;
}

.mat-column-mark {
  text-align: center;
  font-size: 15px;
  padding-left: 60px;
}

.fail-margin {
  margin-left: 10px;
}

.title-1 {
  margin-bottom: 0;
}

.table-container {
  height: 200px;
  overflow: auto;
}
